* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Aubrey;
  src: url(AUBREY1__.TTF) format("truetype");
}

body {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: white;
  font-family: Aubrey;
}

.location,
.temperature {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2px;
}

.location p {
  font-size: 45px;
  font-weight: 500;
}

.temperature-description {
  text-transform: capitalize;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section p {
  font-size: 40px;
  font-weight: 500;
}

.degree-section span {
  margin: 10px;
  font-size: 25px;
}

.sunrise,
.sunset {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature-description,
.sunrise,
.sunset {
  font-size: 16px;
  letter-spacing: 1.2px;
}
